django==2.2.24
fabric==2.5.0
pylint==2.4.2
pylint-django==2.0.11
djangorestframework==3.10.3
djangorestframework-camel-case==1.1.1
requests==2.22.0
seaborn==0.9.0
patchwork==1.0.1
pytest-django==3.1.2
sentry-sdk==0.13.0