{% extends "base.html" %} {% block content %}
<section class="site-section">
    <div class="resp-content">
        <h1>About - Gregor Mendel Institute</h1>
        <h3>Contact information</h3>
        <p>
        GMI — Gregor-Mendel-Institut für Molekulare Pflanzenbiologie GmbH<br>
        Dr. Bohr-Gasse 3<br>
        1030 Vienna<br>
        Austria<br>
        T: +43 1 79044 9000<br>
        F: +43 1 79044 9001<br>
        E: office(at)gmi.oeaw.ac.at<br>
        </p>
        
        <h3>Legal information</h3>
        <p>
        Type of business: Research Institute<br>
        Managing Director (Science): Dr Magnus Nordborg<br>
        Managing Director (Business): Dr Markus Kiess<br>
        Commercial register number: FN 203743y<br>
        Commercial register court: Vienna, Austria<br>
        Sales tax identification number: ATU51438706<br>
        The GMI is 100% owned by the Austrian Academy of Sciences<br>
        </p>
        <h3>Disclaimer</h3>
    <p>This website provides information about research at the GMI. GMI makes no guarantees of accuracy, completeness and timeliness of the information on this website. The GMI, therefore, accepts no responsibility or liability for damages or losses resulting from the use of this website. The GMI provides links to other internet sites for the convenience of users. The GMI, its owners, managers, partners, and employees are not responsible for the availability or content of these external sites, nor do they endorse, warrant, or guarantee any commercial product, service, site, law firm, attorney or information described or offered at these other internet sites.</p>
    </div>
</section>
{% endblock content %}